.header {
    width: 100%;
    min-height: 7rem;
    background-color: green;
    color: white;
    display: flex;
    flex-direction: row;
}

.title {
    margin: auto;
    font-size: 3rem;
    font-weight: bolder;
}