.table-container {
    width: 100%;
    margin-top: 2rem;
    border-radius: 1em;
}

.table-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.table {
    width: 70%;
    border-radius: 1em;
    margin: auto;
}

.datepicker {
    width: 30%;
    margin-left: 15%;
    margin-bottom: 2rem;
}

.btn {
    float: right;
    right: 2rem;
    height: 3rem;
}

.remarks:hover {
    text-decoration: underline;
    cursor: pointer;
}